# Configuration files that may contain sensitive information.
web/sites/*/settings*.php

# Paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Vendor Folder
web/sites/all/vendor

# Sass Cache
.sass-cache

# Compiled Stylesheets
compiled
