body {
  background-color: #F3FCFC;
  font-family: 'Ubuntu', sans-serif;
}

.body {
  width: 20em;
  margin: 0 auto;
}

#logo {
  width: 100%;
}

#logo img {
  width: 100%;
  height: auto;
}

.page {
  padding: 0 1em;
}

.login {
  width: 14em;
  margin: 2em auto 0 auto;
}

.login img {
  width: 100%;
  height: auto;
}

.signup {
  margin: 0 0 1em 0;
  padding: 0 0 1em 0;
  border-bottom: 1px solid #333;
}

.signup:after {
  content: "";
  display: table;
  clear: both;
}

.signup .avatar {
  width: 6.250em;
  float: left;
  margin: 0;
}

.signup .card {
  width: 11em;
  float: right;
}

.signup .card h2 {
  margin-top: 0;
}

.signup .card a {
  color: #333;
  text-decoration: none;
}

.user {
  margin: 0 0 2em 0;
}

.user p {
  margin: 0 0 2em 0;
}

.user p strong {
  color: #a4268a;
}

.logout {
  clear: both;
  text-align: right;
}

.logout a {
  color: #3B5998;
}

.logout a:hover {
  text-decoration: none;
}